<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a th:href="@{/}">Go back</a>
    <h2>Books | Admin</h2>
    <a th:href="@{/books/create}">Create book</a>
    <table style="margin-top: 10px">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:utext="${book.id}"></td>
            <td th:utext="${book.title}"></td>
            <td>
                <a th:href="@{/books/update/} + ${book.id}">Update</a>
                <a th:href="@{/books/delete/} + ${book.id}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
