<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
    <a href="/books/admin">Go back</a>
    <form action="/books/create" th:object="${bookCreateDto}" method="post" style="margin-top: 10px">
        <input type="text" th:field="*{title}" placeholder="Enter title" required><br>
        <select th:field="*{authorId}" required>
            <option value="">Select author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:utext="${author.name}"></option>
        </select><br>
        <input type="text" th:field="*{tags}" placeholder="Enter tags" required><br>
        <select th:field="*{status}" required>
            <option th:each="bookStatus : ${T(com.multipleton.spring.dto.book.BookStatus).values()}" th:value="${bookStatus}" th:text="${bookStatus.title}"></option>
        </select><br>
        <input type="submit">
    </form>
</body>
</html>
