<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>
    <a th:href="@{/books/admin}">Go back</a>
    <form th:action="@{/books/update/} + ${book.id}" th:object="${bookUpdateDto}" method="post" style="margin-top: 10px">
        <input type="number" th:value="${book.id}" disabled><br>
        <input type="text" name="title" th:value="${book.title}" placeholder="Enter title" required><br>
        <input type="text" th:value="${book.author.name}" disabled><br>
        <input type="text" name="tags" th:value="${#strings.setJoin(book.tags, ',')}" placeholder="Enter tags..." required><br>
        <input type="submit">
    </form>
</body>
</html>
